// -----------------------------------------------------------------------------
// This file contains all styles related to the Messenger page
// -----------------------------------------------------------------------------
@import "../abstracts/_borders";
@import "../abstracts/_functions";
@import "../abstracts/_variables";
@import "../layout/_grid";

@color-bg-chat-list-name: --color-bg-chat-feed;
@color-bg-chat-list-values: @glob-color-light, #17212b;
@color-bg-chat-list: var(@color-bg-chat-list-name);
.make_colors(@color-bg-chat-list-name, @color-bg-chat-list-values);

@color-bg-msg-received-name: --color-bg-msg-received;
@color-bg-msg-received-values: @glob-color-light, #182533;
@color-bg-msg-received: var(@color-bg-msg-received-name);
.make_colors(@color-bg-msg-received-name, @color-bg-msg-received-values);

.page-settings() {
  @message-box-radius: 10px;
}

.page {

  .page-settings();

  .chat-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    .chat-list-container {
      background: @color-bg-chat-list;
      height: 100%;
      overflow: auto;
      padding: @glob-ident2;

      .chat {
        .page.border-top;
        cursor: pointer;
        margin: 0;
        padding: @glob-ident2 0;

        &.active {
          background: @glob-color-light-blue;
        }

        .btn-menu {
          color: @glob-color-base-black;
          background-color: @color-bg-chat-list;
          border-color: @color-bg-chat-list;
        }

        .chat__menu {
          position: absolute;
          top: 40px;
          right: 0;
          width: 130px;
          background: @color-bg-chat-list;
          border-radius: 5px;
          z-index: 1000;
          border: 1px solid @glob-color-border;
          color: @glob-color-base-black;

          .nav-link:hover {
            background: @glob-color-hover;
          }
        }
      }

      .chat:hover {
        background: @glob-color-hover;
      }
    }

    .mixin_thin-gray-scroll(chat-list-container);

    .chat-feed-container {
      height: 100%;
      overflow: auto;
      padding: 0;
      background: @glob-color-white;

      .chat-feed__message-row {
        margin: @glob-ident3 0;

        &.received {
          text-align: left;
        }

        &.sent {
          text-align: right;
        }
      }

      .chat-feed__message-box {
        width: fit-content;
        display: inline-block;

        &.received {
          text-align: left;
        }

        &.sent {
          text-align: right;
        }
      }

      .chat-feed__message {
        padding: @glob-ident2 @glob-ident3;
        border-radius: @message-box-radius;

        &.received {
          color: @glob-color-dark;
          background: @color-bg-msg-received;
          border-top-left-radius: 0;
        }

        &.sent {
          background: @glob-color-light-primary;
          border-bottom-right-radius: 0;
        }
      }

    }

    //.mixin_thin-gray-scroll(Messenger-feed-container);

  }

}
