@import "_variables";

.page-settings() {
}

.page {

  .page-settings();

  .text-center {
    text-align: center !important;
  }

  .text-end {
    text-align: right !important;
  }

  .text-start {
    text-align: left !important;
  }

  .text-primary {
    color: @glob-color-primary !important;
  }

  .text-secondary {
    color: @glob-color-secondary !important;
  }

  .text-success {
    color: @glob-color-success !important;
  }

  .text-danger {
    color: @glob-color-danger !important;
  }

  .text-warning {
    color: @glob-color-warning !important;
  }

  .text-info {
    color: @glob-color-info !important;
  }

  .text-light {
    color: @glob-color-light !important;
  }

  .text-dark {
    color: @glob-color-dark !important;
  }

  .text-white {
    color: @glob-color-white !important;
  }

  .text-muted {
    color: @glob-color-muted !important;
  }

}